[submodule "LuaAssemblyTools"]
	path = LuaAssemblyTools
	url = https://github.com/mlnlover11/LuaAssemblyTools
[submodule "ilua"]
	path = ilua
	url = https://github.com/ilua/ilua
[submodule "memwatch"]
	path = memwatch
	url = https://github.com/viruscamp/memwatch
[submodule "lua-5.1"]
	path = lua-5.1
	url = https://github.com/viruscamp/lua5
	branch = 5.1
[submodule "lua-5.2"]
	path = lua-5.2
	url = https://github.com/viruscamp/lua5
	branch = 5.2
[submodule "lua-5.3"]
	path = lua-5.3
	url = https://github.com/viruscamp/lua5
	branch = 5.3
